# Env
.env
.env.local
hop.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data / outputs / logs
/data/raw/*
!/data/sample/
output/
logs/
docker/postgres/data/
pgdata/
config/

# Hop local metadata (se houver)
.hop/

# Arquivos excluídos
lixeira/

# Ambientes com credenciais
**/environments/*.json
dev.json
prod.json
test.json

